table  {
    border-collapse: collapse;
}
 
table td, th  {
    padding: 5px;
}
 
.create-button  {
    color: blue;
    cursor: pointer;
    padding: 5px;
}
.edit-button  {
    padding: 2px 5px;
    background: #f2d86f;
    cursor: pointer;
}
 
.delete-button  {
    padding: 2px 5px;
    background: #CD5C5C;
    cursor: pointer;
}

h1{
	color:#0000FF;
}

h2{
	color:#FF0000;
}