<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>BETTC - Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
     <script th:src="@{/main.js}"></script>
      <link th:href="@{/main.css}" rel="stylesheet" />
    <script th:src="@{/jquery-1.5.1.min.js}"></script>
    <script th:src="@{/modernizr-1.7.min.js}"></script>
    <link th:href="@{/site.css}" rel="stylesheet" />
   
    
    
   </head>
<body ng-app="PongPlayerManagement" ng-controller="PongPlayerController">
    <div class="page">
        <header>
         
            <div id="title">
              <h1>Boeing Employee Table Tennis Club</h1>
            </div>
            <br />
            <nav>
                <ul id="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/admin">Admin</a></li>
                    
                </ul>
            </nav>
        </header>
       
        <section id="main">
        
         <h2 align=center >
         BETTC Rankings
        </h2>
        <p align=center>BETTC rating calculation based on the USATT rating system. Click <a href="https://www.teamusa.org/usa-table-tennis/ratings/rating-system">HERE</a> for more info. </p>
 <table align=center width=900 border="1">
         <tr>
           <!-- <th>Player ID</th> -->
            <th>Player Name</th>
             <th>OLD Rating</th>
            <th>NEW Rating</th>
            <th> Change (+/-) </th>
            <th>Email</th>
            <th>Phone Number</th>
        <!--    <th>Edit</th>
               <th>Delete</th>  -->
             <th>Notes</th>
         </tr>
         <!-- $scope.player -->
         <tr ng-repeat="player in players">
           <!-- <td> {{ player.id }}</td> -->
            <td> {{ player.name }}</td>
            <td> {{ player.prevrating }}</td>
            <td >{{ player.rating }}</td>
            <td >{{ player.rating - player.prevrating }}</td>
            <td >{{ player.email }}</td>
            <td >{{ player.phone }}</td>
          <!--  <td>
            <a ng-click="editPlayer(player)" class="edit-button">Edit</a>
            </td>
              <td>
           <a ng-click="deletePlayer(player)" class="delete-button">Delete</a> 
            </td> -->
            <td>{{ player.notes }}</td>
         </tr>
         
      </table>
      
      <br>
      <br>
       <div>
        <h4> </h4>
   </div>
      
   </div>
   
  
   
   
</body>
</html>
