<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>South Team Player</title>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
      <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
      <script th:src="@{/main.js}"></script>
      <link th:href="@{/main.css}" rel="stylesheet" />
      <script th:src="@{/calculator.js}"></script>
      <script th:src="@{/jquery-1.5.1.min.js}"></script>
      <script th:src="@{/modernizr-1.7.min.js}"></script>
      <link th:href="@{/site.css}" rel="stylesheet" />
       <script type='text/javascript'>
      function downloadCSV(csv, filename) {
        var csvFile;
        var downloadLink;

        // CSV file
        csvFile = new Blob([csv], {type: "text/csv"});

        // Download link
        downloadLink = document.createElement("a");

        // File name
        downloadLink.download = filename;

        // Create a link to the file
        downloadLink.href = window.URL.createObjectURL(csvFile);

        // Hide download link
        downloadLink.style.display = "none";

        // Add the link to DOM
        document.body.appendChild(downloadLink);

        // Click download link
        downloadLink.click();
    }
       function exportTableToCSV(filename) {
        var csv = [];
        var rows = document.querySelectorAll("table tr");
        
        for (var i = 0; i < rows.length; i++) {
            var row = [], cols = rows[i].querySelectorAll("td, th");
            
            for (var j = 0; j < cols.length; j++) 
                row.push(cols[j].innerText);
            
            csv.push(row.join(","));        
        }

        // Download CSV file
        downloadCSV(csv.join("\n"), filename);
    }
    
    </script>
   <head>
   <body ng-app="PongPlayerManagement" ng-controller="PongPlayerController">
    <div class="page">
        <header>
            <div id="title">
                <h1>BETTC Admin</h1>
              
            </div>
            <!--<div id="logindisplay">
                    [ <a href="/Account/LogOn">Log On</a> ]

            </div>-->
            <br />
            <nav>
                <ul id="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/ratingcalculator">Calculator</a></li>  
                   <!--  <li><a th:href="@{/logout}" >Logout</a></li>-->
                </ul>
            </nav>
        </header>
        <section id="main">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
            <input type="button" value="Export to CVS File" onclick="exportTableToCSV('BETTC-Members.csv')"/>
        </form>
      
      <form ng-submit="submitPlayer()">
         <table align=center width=700 border="0">
            <tr>
               <td>Player ID</td>
               <td>{{playerForm.id}}</td>
            </tr>
            <tr>
               <td>Name </td>
               <td><input type="text" ng-model="playerForm.name" /></td>
            </tr>
            <tr>
               <td>Rating</td>
               <td><input type="text" ng-model="playerForm.rating"  /></td>
            </tr>
            
            <tr>
               <td colspan="2">
                  <input type="submit" value="Update Rating" class="blue-button" />
               </td>
            </tr>
            <input type="hidden" ng-model="playerForm.prevrating">
         </table>
      </form>
     <!--   <form ng-submit="calculateRating(player1, player2)">
         <table align=center width=500 border="1">
            
            <tr>
               <td>Player 1</td>
               <td><select name="player1" ng-model="player1Form.id">
					<option value="">--Select Players--</option>
					<option ng-repeat="player in players1" value="{{player.id}}">{{player.name}}</option>
					
					</select>
				
				</td>
				<td> <label>WON
    					<input type="checkbox" ng-model="checkboxModel.player1_WON">
  					</label>
				</td>
            </tr>
             <tr>
               <td>Player 2</td>
               <td><select name="player2" ng-model="player2Form.id">
					<option value="">--Select Players--</option>
					<option ng-repeat="player in players2" value="{{player.id}}">{{player.name}}</option>
					</select>
				</td>
				<td> <label>WON
    					<input type="checkbox" ng-model="checkboxModel.Player2_WON">
  					</label>
				</td>
            </tr>
            <tr>
               <td colspan="2">
                  <input type="submit" value="Calculate" class="blue-button" />
               </td>
            </tr>
         </table>
      </form> -->
      
      
      <br/>
    <!--  <a class="create-button" ng-click="createPlayer()">Create Player</a> -->
      <table align=center width=900 border="1">
         <tr>
            <th>Player ID</th>
            <th>Name</th>
            <th>OLD Rating</th>
            <th>NEW Rating</th>
            <th>Email</th>
            <th>Phone Number</th>
             <!--  <th>Delete</th>  -->
             <th>Notes</th>
             <th>Edit</th>
         </tr>
         <!-- $scope.player -->
         <tr ng-repeat="player in players">
            <td> {{ player.id }}</td>
            <td> {{ player.name }}</td>
             <td >{{ player.prevrating }}</td>
            <td >{{ player.rating }}</td>
            <td >{{ player.email }}</td>
            <td >{{ player.phone }}</td>
             <!--   <td>
           <a ng-click="deletePlayer(player)" class="delete-button">Delete</a> 
            </td> -->
             <td>{{ player.notes }}</td>
             <td><a ng-click="editPlayer(player)" class="edit-button">Edit</a>
            </td>
             
         </tr>
      </table>
      
 <!--     
      <p align="center" class="style1">RATING CALCULATOR </p>
<p align=center><font size=2>Player 1 is required. Player 2 through 7 are optional.</font>
<form name=frm>
<table align=center width=700 border=1 style="border-collapse:collapse;">
  <caption>Enter your beginning rating: <input size=5 maxlength=4 name=begrating></caption>
  <tr>
    <td width=70%>Enter rating of Player 1: <input size=5 maxlength=4 name=otherrating1></caption></td>
    <td width=70% align=right>Win (Yes/No?) <select name=result1><option>&nbsp;<option>Yes<option>No</select></td>
  </tr>
  <tr>
    <td width=50%>Enter rating of Player 2: <input size=5 maxlength=4 name=otherrating2></caption></td>
    <td width=50% align=right>Win (Yes/No?) <select name=result2><option>&nbsp;<option>Yes<option>No</select></td>
  </tr>
  <tr>
    <td width=50%>Enter rating of Player 3: <input size=5 maxlength=4 name=otherrating3></caption></td>
    <td width=50% align=right>Win (Yes/No?) <select name=result3><option>&nbsp;<option>Yes<option>No</select></td>
  </tr>
  <tr>
    <td width=50%>Enter rating of Player 4: <input size=5 maxlength=4 name=otherrating4></caption></td>
    <td width=50% align=right>Win (Yes/No?) <select name=result4><option>&nbsp;<option>Yes<option>No</select></td>
  </tr>
  <tr>
    <td width=50%>Enter rating of Player 5: <input size=5 maxlength=4 name=otherrating5></caption></td>
    <td width=50% align=right>Win (Yes/No?) <select name=result5><option>&nbsp;<option>Yes<option>No</select></td>
  </tr>
  <tr>
    <td width=50%>Enter rating of Player 6: <input size=5 maxlength=4 name=otherrating6></caption></td>
    <td width=50% align=right>Win (Yes/No?) <select name=result6><option>&nbsp;<option>Yes<option>No</select></td>
  </tr>
  <tr>
    <td width=50%>Enter rating of Player 7: <input size=5 maxlength=4 name=otherrating7></caption></td>
    <td width=50% align=right>Win (Yes/No?) <select name=result7><option>&nbsp;<option>Yes<option>No</select></td>
  </tr>
</table>
<p align=center>
                <input type=button value=Calculate onClick="return calculate()">&nbsp;Your new rating is:
                <input size=4 readonly name=result>
</form>
 
 -->  
 
   </div>
</body>
</html>