<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>South Team Player</title>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
      <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
      <script th:src="@{/main.js}"></script>
      <link th:href="@{/main.css}" rel="stylesheet" />
      <script th:src="@{/calculator.js}"></script>
      <script th:src="@{/jquery-1.5.1.min.js}"></script>
      <script th:src="@{/modernizr-1.7.min.js}"></script>
      <link th:href="@{/site.css}" rel="stylesheet" />
   <head>
   <body ng-app="PongPlayerManagement" ng-controller="PongPlayerController">
    <div class="page">
        <header>
            <div id="title">
                <h1>BETTC Rating Calculator</h1>
              
            </div>
            <!--<div id="logindisplay">
                    [ <a href="/Account/LogOn">Log On</a> ]

            </div>-->
            <br />
            <nav>
                <ul id="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/admin">Admin</a></li>  
                   <!--  <li><a th:href="@{/logout}" >Logout</a></li>-->
                </ul>
            </nav>
        </header>
        <section id="main">

      

      
      
      <p align="center" class="style1"> </p>
<p align=center><font size=4>Player 1 is required. Player 2 through 7 are optional.</font>
<form name=frm>
<table align=center width=700 border=1 style="border-collapse:collapse;">
  <caption>Enter your beginning rating: <input size=5 maxlength=4 name=begrating></caption>
  <tr>
    <td width=70%>Enter rating of Player 1: <input size=5 maxlength=4 name=otherrating1></caption></td>
    <td width=70% align=right>Win (Yes/No?) <select name=result1><option>&nbsp;<option>Yes<option>No</select></td>
  </tr>
  <tr>
    <td width=50%>Enter rating of Player 2: <input size=5 maxlength=4 name=otherrating2></caption></td>
    <td width=50% align=right>Win (Yes/No?) <select name=result2><option>&nbsp;<option>Yes<option>No</select></td>
  </tr>
  <tr>
    <td width=50%>Enter rating of Player 3: <input size=5 maxlength=4 name=otherrating3></caption></td>
    <td width=50% align=right>Win (Yes/No?) <select name=result3><option>&nbsp;<option>Yes<option>No</select></td>
  </tr>
  <tr>
    <td width=50%>Enter rating of Player 4: <input size=5 maxlength=4 name=otherrating4></caption></td>
    <td width=50% align=right>Win (Yes/No?) <select name=result4><option>&nbsp;<option>Yes<option>No</select></td>
  </tr>
  <tr>
    <td width=50%>Enter rating of Player 5: <input size=5 maxlength=4 name=otherrating5></caption></td>
    <td width=50% align=right>Win (Yes/No?) <select name=result5><option>&nbsp;<option>Yes<option>No</select></td>
  </tr>
  <tr>
    <td width=50%>Enter rating of Player 6: <input size=5 maxlength=4 name=otherrating6></caption></td>
    <td width=50% align=right>Win (Yes/No?) <select name=result6><option>&nbsp;<option>Yes<option>No</select></td>
  </tr>
  <tr>
    <td width=50%>Enter rating of Player 7: <input size=5 maxlength=4 name=otherrating7></caption></td>
    <td width=50% align=right>Win (Yes/No?) <select name=result7><option>&nbsp;<option>Yes<option>No</select></td>
  </tr>
</table>
<p align=center>
                <input type=button value=Calculate onClick="return calculate()">&nbsp;<font size=4>Your new rating is:</font>
                <input size=4 readonly name=result>
</form>
 
 
 
   </div>
</body>
</html>