<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Admin Login</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
     	<script th:src="@{/main.js}"></script>
      	<link th:href="@{/main.css}" rel="stylesheet" />
    	<script th:src="@{/jquery-1.5.1.min.js}"></script>
    	<script th:src="@{/modernizr-1.7.min.js}"></script>
   		<link th:href="@{/site.css}" rel="stylesheet" />
   		
    </head>
    <body ng-app="PongPlayerManagement" ng-controller="PongPlayerController">
    <div class="page">
        <header>
            <div id="title">
                <h1>BETTC Login</h1>
              
            </div>
            <!--<div id="logindisplay">
                    [ <a href="/Account/LogOn">Log On</a> ]

            </div>-->
            <br />
            <nav>
                <ul id="menu">
                    <li><a href="/">Home</a></li>
                   <!--  <li><a href="/admin">Admin</a></li>  
                    <li><a th:href="@{/logout}" >Logout</a></li>-->
                </ul>
            </nav>
        </header>
        <section id="main">
        
      
		 <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        
         <div>
        <form th:action="@{/login}" method="post">
            <div><label> User Name: <input type="text" name="username" value="bettcadmin1"/> </label></div>
            <div><label> Password  : <input type="password" name="password" value="admin1234"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
         </div>
 
 
   </div>
</body>
</html>